/**
    The color scss file includes all needed colors
*/
$primary-color: #1abc9c;

$primary-light-color: rgba(255, 250, 240, 0.808);
$secondary-light-color: floralwhite;
$third-light-color: #f4f2f2;

$primary-dark-color: rgba(0,0,0,.2);

$primary-grey-color: #777;
$secondary-grey-color: #999;