@import 'styles/index.scss';

.Header {
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 5rem;
    font-size: 3.5rem;
}

.h1 {
    font-size: 3.5rem;
}

.h2 {
    font-size: 1.5em;
}