@import 'styles/index.scss';

.Spinner {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    border: 3px solid $third-grey-color;
    border-top: 3px solid $secondary-light-color;
    animation: spin ease-in-out 1s infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
  
@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}